@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('/Assets/Fonts/MaterialIcons/MaterialIconsOutlined-Regular.otf') format('woff2');
}

icon,
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: inherit;
    line-height: inherit;
    letter-spacing: normal;
    text-transform: none;
    /* display: inline-block; */
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
}