input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    background-color: var(--inputBackground);
    color: var(--inputColor);
    display: block;
    border-radius: 1rem;
    line-height: 1;
    position: relative;
    padding: 0px !important;
    min-width: 2rem;
    max-width: 2rem;
    min-height: 1rem;
    max-height: 1rem;
}

input[type="checkbox"]::after {
    content: '';
    display: block;
    background-color: var(--inputColor);
    color: var(--inputBackground);
    border-radius: 1rem;
    position: absolute;
    left: 2px;
    top: 2px;
    width: calc(1rem - 4px);
    height: calc(1rem - 4px);
    transition: 0.2s left;
}

input[type="checkbox"]:checked {
    background-color: var(--inputColor);
    color: var(--inputBackground);
}

input[type="checkbox"]:checked::after {
    left: calc(1rem + 2px);
    background-color: var(--inputBackground);
    color: var(--inputColor);
}