input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    display: block;
    border-radius: 1rem;
    line-height: 1;
    position: relative;
    padding: 0px !important;
    min-width: 2rem;
    max-width: 2rem;
    min-height: 1rem;
    max-height: 1rem;
}

input[type="checkbox"]::after {
    background-color: black;
    content: '';
    display: block;
    border-radius: 1rem;
    position: absolute;
    left: 2px;
    top: 2px;
    width: calc(1rem - 4px);
    height: calc(1rem - 4px);
    opacity: 0.5;
    transition: 0.1s left, 0.1s opacity;
}

input[type="checkbox"]:checked {}

input[type="checkbox"]:checked::after {
    left: calc(1rem + 2px);
    opacity: 1;
}